html {
    scroll-behavior: smooth;
    /* font-size: 62.5%; */
    /* filter: invert(1); */
}
/* @media () {
    html {
        font-size: ;
    }
} */
:root {
    --primary-color: #08ddd8;
    --primary-color-rgb: 	8 221 216;
    --secondary-color: #191919;
    --secondary-color-rgb: 25 25 25;

    /* --primary-color: #3fb9fd;     
    --secondary-color: #121634; */

    /* --primary-color: #df3719; 
    --secondary-color: #f1f1f1;  */

    --para-color: #777;
    --white: #fff; 
    --black: #111;
    --green: #03f303; 
    --main-transition: .4s; 
    --letter-space: 1.5px; 
    --sections-height: 100vh; 
    --sections-padding: 50px 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Glory', sans-serif;
    font-size: 1rem;
    background: var(--secondary-color);  
    color: var(--white);
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}
/* Mobile */
@media (max-width: 767px) {
    .container {
        width: 100%; 
    }
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
ul {
    list-style: none;
}
input {
    border: none;
    outline: none;
}
textarea {
    outline: 0;
}
a {
    color: var(--white);
    text-decoration: none;
}
h1 {
    margin: 0; 
}
img {
    user-select: none;
}