 /* my Own FrameWork */
 a.scroll {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: 10px;
     animation: about-scroll .5s ease 1.7s forwards,
         dance 1s linear alternate infinite;
     user-select: none;
 }

 @media (max-width: 767px) {
     a.scroll {
         bottom: 55px;
         animation: about-scroll .5s ease 1.7s forwards,
             dance-mobile 1s linear alternate infinite;
     }
 }

 @keyframes dance {
     100% {
         bottom: 0;
     }

 }

 @keyframes dance-mobile {
     100% {
         bottom: 45px;
     }

 }

 a.scroll i {
     margin: 5px 0;
 }

 h1.sections-heading {
     font-size: 6rem;
     text-align: center;
     margin-bottom: 20px;
     color: rgb(var(--primary-color-rgb) / 40%);
     user-select: none;
 }

 @media (max-width: 767px) {
     h1.sections-heading {
         font-size: 4rem;
     }
 }

 /* Start Landing */
 .landing {
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: var(--sections-height);
     padding: var(--sections-padding);
 }

 .landing .showcase {
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-left: 100px;
 }

 @media (max-width: 767px) {
     .landing .showcase {
         align-items: center;
         margin-left: 0;
     }
 }

 .landing .showcase h1 {
     width: fit-content;
     margin: 10px 0;
     font-size: 4.8rem;
 }

 @media (max-width: 767px) {
     .landing .showcase h1 {
         font-size: 2rem;
     }
 }

 .landing .showcase p {
     margin: 15px 0;
     font-weight: bold;
     letter-spacing: 3px;
     line-height: 1.5;
     width: fit-content;
 }

 @media (max-width: 767px) {
     .landing .showcase p {
         text-align: center;
     }
 }

 .landing .showcase a {
     display: block;
     padding: 10px 40px;
     width: fit-content;
     border: 1px solid var(--primary-color);
     border-radius: 4px;
     position: relative;
     z-index: 0;
     letter-spacing: var(--letter-space);
     transition: var(--main-transition);
 }

 .landing .showcase a::before {
     content: '';
     width: 0;
     height: 100%;
     background: var(--primary-color);
     position: absolute;
     top: 0;
     right: 0;
     z-index: -1;
     transition: var(--main-transition);
 }

 .landing .showcase a:hover {
     color: var(--black);
 }

 .landing .showcase a:hover::before {
     left: 0;
     width: 100%;
 }

 /* End Landing */

 /* Start About Section */
 #about {
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: var(--sections-height);
     padding: var(--sections-padding);
     position: relative;
     background-image: url('../images/hayeddine.jpg');
     background-size: contain;
     background-position: right;
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-color: skyblue;
 }

 #about .container {
     display: flex;
     align-items: center;
     /* justify-content: space-between; */
 }

 #about .content {
     display: flex;
     flex-direction: column;
     background: rgba(var(--black-rgb), .7);
     padding: 20px;
     border-radius: 20px;
     justify-content: center;
     width: 60%;
 }

 @media (max-width: 767px) {
     #about {
         /* background: none; */
     }

     #about .content {
         width: 100%;
     }
 }

 #about .content h1 {
     text-align: center;
     font-size: 3em;
 }

 #about .content p.about {
     margin: 60px 0 25px;
     text-align: center;
 }

 #about .content a.resume {
     width: fit-content;
     padding: 10px 30px;
     cursor: pointer;
     margin-bottom: 60px;
     border: 1px solid var(--primary-color);
     border-radius: 2px;
     color: var(--white);
 }

 #about .content a.resume i {
     position: relative;
     top: .5px;
     left: 5px;
 }

 #about .content .social-media {
     text-align: center;
 }

 #about .content .social-media hr {
     display: block;
     margin: 25px auto;
     width: 40%;
 }

 #about .content .social-media .icons a {
     font-size: 1.4rem;
     margin: 0 7px;
     transition: var(--main-transition);
 }

 #about .content .social-media .icons a:hover {
     color: var(--primary-color);
 }

 #about img {
     width: 300px;
     display: none;
 }

 @media (max-width: 991px) {
     #about img {
         display: none;
     }
 }

 /* End About Section */

 /* Start Projects Sections */
 #projects {
     overflow: hidden;
     padding: var(--sections-padding);
 }

 #projects a.all-projects {
     display: block;
     padding: 10px 30px;
     border: 1px solid var(--primary-color);
     border-radius: 2px;
     color: var(--white);
 }

 #projects a.all-projects i {
     position: relative;
     left: 5px;
 }

 #projects .swiper {
     max-width: 800px;
 }

 #projects .swiper img.swiper-img {
     max-width: 100%;
 }

 #projects .swiper .swiper-pagination .swiper-pagination-bullet {
     background: var(--primary-color);
 }

 #projects a.all-projects {
     width: fit-content;
     margin: 0 auto;
     margin-top: 30px;
 }

 /* End Projects Sections */

 /* Start Contact Section */
 #contact {
     display: flex;
     align-items: center;
     min-height: var(--sections-height);
     padding: var(--sections-padding);
 }

 #contact .container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 #contact h1 {
     text-align: center;
     margin-bottom: 100px;
 }

 #contact form {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 600px;
 }

 @media (max-width: 767px) {
     #contact form {
         width: 100%;
     }
 }

 #contact form input,
 #contact form textarea {
     border: 1px solid var(--primary-color);
     background: none;
     padding: 10px;
     border-radius: 2px;
     color: var(--white);
     width: 100%;
     margin: 10px 0;
 }

 #contact form input[type='submit'] {
     width: fit-content;
     padding: 10px 30px;
     cursor: pointer;
     align-self: flex-end;
 }

 #contact form textarea {
     max-width: 100%;
     min-width: 100%;
     min-height: 200px;
 }

 /* End Contact Section */

 /* Start Footer */
 footer {
     padding: 30px 0;
     text-align: center;
     position: relative;
 }

 footer::before {
     content: '';
     height: 1px;
     width: 80%;
     position: absolute;
     top: 0;
     left: 50%;
     transform: translateX(-50%);
     background: var(--primary-color);
 }

 footer p.developer {
     display: flex;
     align-content: center;
     justify-content: center;
     margin-bottom: 10px;
 }

 footer p.developer i {
     position: relative;
     right: 5px;
 }

 footer a {
     font-weight: bold;
     color: var(--primary-color);
     margin-left: 5px;
 }

 @media (max-width: 767px) {
     footer p.developer {
         flex-direction: column;
     }

     footer p.developer a {
         margin: 10px 0 0;
     }
 }

 /* End Footer */
